/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif, "Helvetica Neue", sans-serif;
}
